@model IEnumerable<Oblig2_Blog.Models.Entities.Post>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-4">
            <h5>
                <i class="fa fa-newspaper"></i>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </h5>
        </div>
        <div class="col-2">
            <a asp-controller="Post" asp-action="Details" asp-route-id="@item.PostId"
               class="btn btn-primary btn-sm">Les innlegg <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
    <br />
}
